body {
    background-color: #ffffff;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5em;
    font-size: 0.96em;
  }
  
#main-doc {
    display: flex;
}

#nav-div {
    position: fixed;
    background-color: white;
    width: 315px;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
}
  
  #navbar > div {
    /* width: 300px; */
    display: grid;
    grid-template-rows: repeat(14, 45px);
  }
  
  #sections {
    position: absolute;
    background-color: white;
    margin: 0 0 0 305px;
    top: 0;
    padding-top: 20px; 
    border-left: .2em solid grey;
  }
  
  .each-grid {
    /* border-top: .1em solid black; */
  }

  #top-grid {
    font-size: 2em;
    padding: 30px 20px;
    background-color: white;
  }
  
  .nav-link {
    background-color: white;
    margin-top: 0;
    height: 100%;
    padding: 15px 30px;
    text-decoration: none;
    color: black;
    border-top: .1em solid black;
  }
  
  .main-section {
    padding: 20px 60px;
  }
  
  header {
    font-size: 2em;
  }
  
  code {
    background-color: lightgrey;
    width: 100%;
  }
 
@media screen and (max-width: 830px) {
    #main-doc {
        display: block;
    }

    #nav-div {
        max-height: 250px;
        display: block;
        width: 100%;
        z-index: 1;
        overflow-y: unset;
    }

    #navbar > div {
        max-height: 220px;
        max-width: 100%;
        width: 99%;
        position: absolute;
        margin: 0;
        border: 2px solid black;
        overflow-y: overlay;
        right: 0;
        left: 0;
    }

    #sections {
        display: block;
        max-width: 100%;
        width: 100%;
        margin: 0;
        left: 0;
        padding-top: 320px;
        /* top: 300px; */
    }
    
    #top-grid {
        text-align: center;
    }

    :target {
        display: block;
        position: relative;
        top: -320px;
        visibility: visible;
      }
}

@media screen and (max-width: 830px) and (max-height: 600px) {
  #nav-div {
    position: absolute;
    left: 0;
  }
}