* {
    box-sizing: border-box;
}

body{        
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 20px;
    padding-bottom: 40px;
    /* line-height: 200px; */
}

#container {
    z-index:2;
    text-align: center;
}
#container-1 {
    width: 80%;
    margin: auto;
    padding: 2em 0 5em 0;
}
#container-2 {
    background-color: lightgray;
    width: 100%;
    background-size: cover;
    margin: auto auto auto auto;
    padding: 5em 0 0 0;
}

#container-2-inner {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.container-3 {
    /* background-color: lightslategrey; */
    color: black;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0;
    position: relative;
    left: 0;
}

.container-4 {
    text-align: center;
    background-color: lightslategrey;
    color: black;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2em 0 2em 0;
    position: relative;
    left: 0;
}

#container-4-inner {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 1.5em;
}

.container-5 {
    width: 80%;
    margin: 0 auto 0 auto;
}

.container-about {
    width: 80%;
    margin: 0 auto 0 auto;
    padding: 2em 0 5em 0;
}

.container-about-1 {
    background-color: rgb(203, 241, 238);
    /* background-size: cover;
    left: 0;
    right: 0; */
}

.container-about-2 {
    background-color: rgb(241, 203, 216);
}



#heading { top: 0;}
.fixed-footer {bottom: 0;}

#heading, .fixed-footer {
    padding: 1.5em 0 .5em 0;
    text-align: center;
    left: 0;
    width: 100%; 
    position: fixed;
    z-index:1;
    background-color: grey;
}

.hidden {
    visibility: hidden;
}

.home-nav > a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    color: black;
    padding: 7px 25px;
    display: inline-block;
}

#first-div{
    position: absolute;
    padding: 2em 0 5em 0;
}

#first-div, #first-div-hidden { 
    background: url(../images/background10.jpg) no-repeat fixed; 
    background-size: cover;
    width: 100%;
    left: 0;
    height: 500px;
}

.first-div-inner { 
    color: white;
    text-align: center;
    font-size: 2em;
    font-style: italic;
    line-height: .5em;
}

.first-div-p1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-size: 2em;
} 

.no-wrap {
    clear: both;
}

.img-right-float {
    float: right;
    margin: 5em 0 5em 2em;
    border-radius: 25px;
    box-shadow: 10px 10px 5px grey;
}

.img-left-float {
    /* display: block; */
    float: left;
    margin: 3em 5em 2em 0;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* box-shadow: 10px 10px 5px grey; */
}

.img-inline {
    max-width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-inline__ {
    max-width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-inline_ {
    height: 100%;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.justify {
    /* text-indent: 2em; */
    line-height: 1.2em;
    letter-spacing: 0;
    text-align: justify;
    margin: 3em 0 2em 0;
}

.div-float-right {
    /* border-style: solid; */
    float: right;
    width: 65%;
    padding: 0 0 0 2em;
}

.div-float-left {
    float: left;
    width: 10%;
}

.grid {
    display: grid;
    gap: 5px;
    padding: 10px;
    margin: 2em auto auto auto;
}

.grid-about {
    grid: auto / auto auto auto;
    gap: 10px;
}

.grid-about-1 {
    grid: auto / auto auto auto auto auto auto;
    gap: 10px;
}

.grid-about-2 {
    grid: auto / auto auto;
    gap: 20px;
    max-width: 50%;
}

.grid_ {
    grid: auto / auto auto auto;
    max-width: 80%;
}

.grid__ {
    grid: auto / auto auto auto auto auto;
    max-width: 20%;
    gap: 10%;
}

.grid___ {
    max-width: 80%;
}

.inner-paragraphs {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 2em;
}

.container-description {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 40%; 
    margin: 1em auto 2em auto;
}

.zoom {
    transition: transform .9s; /* Animation */
}

.zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.hide {
    display: none;
}
  
.myDIV:hover + .hide {
    background-color: grey;
    display: block;
}

img {
    vertical-align: middle;
}
  
  /* Hide the images by default */
.mySlides {
    display: none;
}
  
  /* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}
  
  /* Next & previous buttons */

.prev {
    left: 15%;
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 15%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
  
  /* Position the "next button" to the right */
.next {
    right: 15%;
    border-radius: 3px 0 0 3px;
}
  
  /* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    color: white;
    background-color: black;
}
  
  /* Number text (1/3 etc) */
.numbertext {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
  /* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
  /* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}
  
  /* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}
  
.active,
.demo:hover {
    opacity: 1;
}

.heading-1 {
    font-size: 1.5em;
    font-weight: bold;
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heading-2 {
    font-size: 1em;
    font-weight: bold;
    color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heading-3 {
    font-size: 1em;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

.avatar:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds  */
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
 
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: linear;
}
@keyframes bounce-1 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-30px); }
    100% { transform: translateY(0); }
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    width: 160px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    /* z-index: 1; */
    bottom: 125%;
    left: 50%;
    margin-left: 10px;
}

.about-grid-0 {
    background-color: grey;
    margin: 0 auto auto auto;
}

.about-grid-1 {
    margin: 0 auto auto auto;
    background-color: skyblue;
    padding: 0 1em 2em 2em;
    text-align: left;
}

.about-grid-2 {
    margin: 0 auto auto auto;
    background-color: plum;
    padding: 2em 1em 2em 1em;
}

/* The actual popup (appears on top) */
.abouttext {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

.popup .hide {
    visibility: hidden;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

.fmAORt {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    text-align: center;
    text-transform: capitalize;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    color: black;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.3;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    margin: 20px auto 20px auto;
    padding: 12px;
    background: khaki;
    transition: all 150ms linear 0s;
    text-decoration: none;
    border-width: 0px;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 36px;
    /* flex: 0 0 160px; */
    width: 20%;
}

.button-div {
    /* margin: 0 auto auto 20px; */
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.glow {
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
  
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00a1e6, 0 0 40px #00a1e6, 0 0 50px #00a1e6, 0 0 60px #00a1e6, 0 0 70px #00a1e6;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #684dff, 0 0 40px #684dff, 0 0 50px #684dff, 0 0 60px #684dff, 0 0 70px #684dff, 0 0 80px #684dff;
    }
}

.centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.line {
    display: block;
    width: 290px;
    height: 3px;
    padding: 0!important;
    background: #ccc;
    margin-bottom: 2em;
}

.section-title {
    color: black; 
    text-align: center; 
    margin: 2em auto 1em auto;
    text-transform: uppercase;
    display: block;
    letter-spacing: 0.1em;
}

.back-button {
    display: block;
    border-radius: 15px;
    background-color: mediumturquoise;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    padding: 10px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px auto auto auto;
}

.back-button-link {
    text-decoration: none; 
    color: black;
}

#button_ {
    width: 20%;
    margin: 35em auto auto auto;
}

.abouttext_ {
    font-size: 40px;
    font-weight: bold;
}

.em-dash {
    display: flex;
    align-items: center;
    justify-content: center;
}

.em-dash_ {
    border: solid 2px black;
    width: 100px;
    margin: 20px;
}

.em-dash_white {
    border: solid 2px white;
    width: 100px;
    margin: 20px;
}

.em-dash_black {
    border: solid 2px black;
    width: 100px;
    margin: 20px;
}
/* .back-button .inner {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.back-button .inner:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.back-button:hover .inner {
    padding-right: 25px;
}
  
.back-button:hover .inner:after {
    opacity: 1;
    right: 0;
} */

@media only screen and (max-width: 1000px) {
    /* For mobile phones: */
    [class*="grid-"] {
        grid: auto / auto ;
        max-width: 100%;
        gap: 0;
        margin: 0;
        padding: 0;
        /* text-align: center; */
    }
    [class*="div-float"] {
        width: 100%;
    }
    .about-grid-1, .about-grid-2 {
        padding: 2em;
    }
    .grid-about-2 > ul {
        max-width: 100%;
    }
    .container-about, .container-about-1, .container-about-2 {
        width: 100%;
        margin: 0;
        left: 0;
    }
    .container-about-1, .container-about-2 {
        padding: 2em;
    }
    .img-left-float {
        margin: 4em auto auto auto;
        float: none;
        border-radius: 25px;
        width: 30%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .justify {
        text-align: left;
    }
    .grid__ {
        max-width: 100%;
    }
    .home-nav > a {
        font-size: 2.5em;
        font-weight: bold;
    }
    .back-button {
        font-size: 30px;
        padding: 10px;
        width: 15%;
    }
    .inner-paragraphs {
        font-size: 1.5em;
        font-family: cursive;
    }
    #container-4-inner {
        font-size: 1em;
    }
    .container-description {
        font-size: 2em;
        width: 80%;
        font-family: serif;
    }
    .abouttext_ {
        font-size: 60px;
    }
}