
body {
    background-color: cyan;
}
/* Layout */
.main {
    display: flex;
    padding: 0 2em;
    height: 90vh;
    justify-content: center;
    align-items: middle;
}
.date h1 {
    background-color: white;
    text-align: center;
    margin-bottom: 0;
    color: black;
}

.clockbox, #clock {
    width: 100%;
}

/* Clock styles */
.circle {
    fill: black;
    /* stroke: black; */
    /* stroke-width: 9;
    stroke-miterlimit: 10; */
}

.inner-circle {
    fill: none;
    stroke: grey;
    stroke-width: 2;
}

.mid-circle {
    fill: darkgrey;
}
.hour-marks {
    fill: none;
    stroke: darkgrey;
    stroke-width: 5;
    /* stroke-miterlimit: 5; */
}

.hour-arm {
    fill: none;
    stroke: grey;
    stroke-width: 17;
    stroke-miterlimit: 10; 
}

.minute-arm {
    fill: none;
    stroke: grey;
    stroke-width: 11;
    stroke-miterlimit: 10;
}

.second-arm {
    fill: none;
    stroke: grey;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

/* Transparent box ensuring arms center properly. */
.sizing-box {
    fill: none;
}

/* Make all arms rotate around the same center point. */
/* Optional: Use transition for animation. */
#hour, #minute, #second {
    transform-origin: 300px 300px;
    transition: transform 0s ease-in-out;
}